@*@model AnonNerd.Models.post

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <h1>@Model.Title</h1>
    <img src="@Model.Mainpic" />
    <p>@Model.Intro</p>
    <img src="@Model.Pic1" />
    <video src="@Model.Vid1" />
    <h3>@Model.Subtitle</h3>
    <p>@Model.Text2</p>
    <img src="@Model.Pic2" />
    <video src="@Model.Vid2" />
    <h3>@Model.Subtitle2</h3>
    <p>@Model.Text3</p>
    <img src="@Model.Pic3" />
    <video src="@Model.Vid3" />
    <h3>@Model.Subtitle3</h3>
    <p>@Model.Text4</p>
    <img src="@Model.Pic4" />
    <video src="@Model.Vid4" />
    <p>@Model.Text5</p>
    <img src="@Model.Pic5" />
    <video src="@Model.Vid5" />
    <p>@Model.End</p>
    <a href="@Model.Link1">@Model.Link1</a>
    <a href="@Model.Link2">@Model.Link2</a>
    <a href="@Model.Link3">@Model.Link3</a>
    <a href="@Model.Link4">@Model.Link4</a>
    <a href="@Model.Link5">@Model.Link5</a>
    <p>@Model.Date</p>
</body>
</html>*@
