@model Managment.Models.Employees

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Employees</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Fname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Lname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Lname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Position)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Position)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Rights)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Rights)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Criticism)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Criticism)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Employeeid }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
